img {
    border-radius: 50%;
  }
  .card {display:inline-block;}
#home {
    margin-top: 50px;
    margin-bottom: 50px;
}
body {
    background-color: #003399;
    font-size: large;
    color: white;
}
#navbar {background-color:#000066} 

#aboutmeheader {
    margin-top: 100px;
    margin-left: 10%;
}
#aboutme {
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10%;
  margin-left: 10%;
}
#projectsheader {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
}
#contactheader {
    margin-top: 100px;
    margin-left: 10%;
}
#contactinfo {
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}
